body {
  padding: 20px;
}

input[type="file"] {
  &.file-input {
    opacity: 0;
  }

  + .file-input {
    min-width: 14rem;
    max-width: 100%;
    margin: 10px;
  }

  + .file-control {
    height: 36px;
    line-height: 1.25;
    padding: 10px;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    user-select: none;
    pointer-events: none;
  }
}